{
    "swagger": "2.0",
    "info": {
        "title": "Test Swagger",
        "description": "Testing Swagger module.",
        "contact": {
            "name": "Devv",
            "email": "noreply@devv.com",
            "url": "https://www.github.com/igoramadas/expresser"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "expresser.devv.com",
    "basePath": "/",
    "schemes": ["https"],
    "paths": {
        "/swagger/{id}": {
            "get": {
                "operationId": "getSwaggerAbc",
                "summary": "Test",
                "description": "Test",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "query",
                        "name": "qs",
                        "description": "Test query string",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "qbool",
                        "description": "Test query boolean",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "qdate",
                        "description": "Test query datetime",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "qnum",
                        "description": "Test query number",
                        "type": "number",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "qint",
                        "description": "Test query integer",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "qarr",
                        "description": "Test query array",
                        "type": "array",
                        "required": false
                    },
                    {
                        "in": "header",
                        "name": "h",
                        "description": "Test header",
                        "type": "number",
                        "required": false
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Test path ID",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "wrongScope",
                        "name": "wrong",
                        "description": "Test wrong scope",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Result"
                    }
                }
            }
        }
    }
}
