doctype html
html.no-js(lang="en")
    head
        title Test socket
        meta(charset="utf-8")
        script(src="/socket.io/socket.io.js")
<script>
    body
        div This is a test view to test socket messages using Socket.IO